<!doctype html>
<html lang="en">
<head>

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="/javascripts/plants.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <title>Plant Page</title>
</head>
<body onload="init('<%= plant.id %>', '<%= nickname %>')" class="pt-0 px-0">

    <input type="hidden" id="nickname" name="nickname" value="<%= nickname %>">

    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="d-flex align-items-center px-4">
            <a class="navbar-brand" href="/explore">PlantPedia</a>
            <div class="navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/explore">← Back</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row pt-5 px-4">
        <div class="col-md-6">
            <img src="/<%= plant.img %>" class="card-img-top cropped-image mb-3" alt="<%= plant.description %>">
        </div>

        <div class="col-md-6">
            <div class="d-flex align-items-center">
                <% if (dbp_title) {%>
                    <h3 class="mr-3 mx-2"><%= dbp_title %></h3>
                <%}%>
                <p class="mb-0 text-light-emphasis">Identification:</p>
                <% if (plant.enableSuggestions) {%>
                    <p class="mb-0 text-warning mx-1 ">In Progress</p>
                <%} else {%>
                    <p class="mb-0 text-success mx-1 ">Approved</p>
                <%}%>
            </div>

            <div class="mt-2 <%= dbp_title ? 'ps-2' : '' %>">
                <% if (!wasPlantCreatedByUser && plant.enableSuggestions) {%>
                    <a href="#" id="suggestLink" class="pt-3">Suggest an identification →</a>
                <%}%>
            </div>


            <div class="mx-3 my-2 mt-3" id="suggestionsContainer" <% if (!wasPlantCreatedByUser && suggestions.length === 0 && dbPediaSuggestions.length === 0) { %>style="display: none;"<% } %>>
                <input type="hidden" id="suggestionsLength" name="suggestionsLength" value="<%= suggestions.length %>">
                <input type="hidden" id="dbPediaSuggestionsLength" name="dbPediaSuggestionsLength" value="<%= dbPediaSuggestions.length %>">
                <% if (wasPlantCreatedByUser && plant.enableSuggestions && suggestions.length !== 0) { %>
                    <p>Suggestions:</p>
                    <form action="/plants/updateName" method="POST">
                        <input type="hidden" id="plantId" name="plantId" value="<%= plant.id %>">
                        <% for (var i = 0; i < suggestions.length; i++) { %>
                            <label for="<%= i %>"><%= suggestions[i].suggestedName %></label>
                            <input type="radio" id="<%= i %>" name="suggestedName" value="<%= suggestions[i].suggestedName %>" required>
                            <br>
                            <br>
                        <% } %>
                        <button type="Submit" class="btn btn-primary">Submit</button>
                    </form>
                <% } else if (!wasPlantCreatedByUser && suggestions.length >= 2){ %>
                    <p>Your Suggestions:</p>
                    <ul>
                        <% for (var i = 0; i < suggestions.length; i++) { %>
                            <li><%= suggestions[i].suggestedName %></li>
                        <% } %>
                    </ul>
                <% } else if (!wasPlantCreatedByUser && suggestions.length === 1){ %>
                    <p>Your Suggestions:</p>
                    <% for (var i = 0; i < suggestions.length; i++) { %>
                        <p><%= suggestions[i].suggestedName %></p>
                    <% } %>
                    <form id="suggestionForm" action="/plants/addSuggestion" method="POST" class="mt-3">
                        <div class="form-group">
                            <input type="hidden" id="plantId" name="plantId" value="<%= plant.id %>">
                            <input type="text" class="form-control w-75" name="suggestedName" placeholder="<%= dbPediaSuggestions.length > 0 ? dbPediaSuggestions[0] : 'Suggestion' %>" list="list-timezone" id="suggestedName">
                            <datalist id="list-timezone">
                                <% dbPediaSuggestions.forEach(suggestion => { %>
                                    <option><%= suggestion %></option>
                                <% }); %>
                            </datalist>
                            <br>
                            <button type="submit" class="btn btn-outline-secondary me-1" name="action" value="getSuggestions">Search</button>
                            <button type="submit" class="btn btn-primary" name="action" value="addSuggestion">Submit</button>
                        </div>
                    </form>
                <% } else if (!wasPlantCreatedByUser && suggestions.length === 0) { %>
                    <form id="suggestionForm" action="/plants/addSuggestion" method="POST" class="mt-3">
                        <div class="form-group">
                            <input type="hidden" id="plantId" name="plantId" value="<%= plant.id %>">
                            <input type="text" class="form-control w-75" name="suggestedName" placeholder="<%= dbPediaSuggestions.length > 0 ? dbPediaSuggestions[0] : 'Suggestion' %>" list="list-timezone" id="suggestedName">
                            <datalist id="list-timezone">
                                <% dbPediaSuggestions.forEach(suggestion => { %>
                                    <option><%= suggestion %></option>
                                <% }); %>
                            </datalist>
                            <br>
                            <button type="submit" class="btn btn-outline-secondary me-1" name="action" value="getSuggestions">Search</button>
                            <button type="submit" class="btn btn-primary" name="action" value="addSuggestion">Submit</button>
                        </div>
                    </form>
                <% } %>
            </div>


            <% if (dbp_comment) {%>
                <p class="m-2"><%= dbp_comment %>...</p>
            <%} else {%>
                <p class="text-secondary mt-4">This plant has not yet been identified...</p>
            <%}%>
            <% if (dbp_uri) { %>
                <div class="px-2 py-2">
                    <a class="cta" href="<%= dbp_uri %>" style="text-decoration: none;">
                        <span>Learn more</span>
                        <svg width="12px" height="8px" viewBox="0 0 13 10">
                            <path d="M1,5 L11,5"></path>
                            <polyline points="8 1 12 5 8 9"></polyline>
                        </svg>
                    </a>
                </div>
            <% } %>
        </div>
    </div>

    <div class="row pt-4 my-4 bg-custom-primary px-5">
        <div class="col-md-6 px-4">
            <% if (plant.date) { %>
                <div class="d-flex align-items-center">
                    <p class="mr-3">Date seen:</p>
                    <p class="mx-2"><b><%= plant.date %></b></p>
                </div>
            <% } %>
            <% if (plant.location) { %>
                <div class="d-flex align-items-center">
                    <p class="mr-3">Location:</p>
                    <p class="mx-2"><b><%= plant.location %></b></p>
                </div>
            <% } %>
            <% if (plant.name) { %>
                <div class="d-flex align-items-center">
                    <p class="mr-3">Name:</p>
                    <p class="mx-2"><b><%= plant.name %></b></p>
                </div>
            <% } %>
            <% if (plant.description) { %>
                <div class="d-flex align-items-center">
                    <p class="mr-3">Description:</p>
                    <p class="mx-2"><b><%= plant.description %></b></p>
                </div>
            <% } %>
            <% if (plant.size) { %>
                <div class="d-flex align-items-center">
                    <p class="mr-3">Size:</p>
                    <p class="mx-2"><b><%= plant.size %> cm</b></p>
                </div>
            <% } %>
            <% if (plant.flowers || plant.leaves || plant.fruit) {%>
                <p>Plant properties: </p>
                <ul style="list-style-type: none;">
                    <li class="checkbox-container">
                        <input type="checkbox" disabled <% if (plant.flowers) { %> checked <% } %>> Flowers
                    </li>
                    <li class="checkbox-container">
                        <input type="checkbox" disabled <% if (plant.leaves) { %> checked <% } %>> Leaves
                    </li>
                    <li class="checkbox-container">
                        <input type="checkbox" disabled <% if (plant.fruit) { %> checked <% } %>> Fruit
                    </li>
                </ul>
            <%}%>
            <% if (plant.sunExposure) { %>
                <div class="d-flex align-items-center">
                    <p class="mr-3">Sun exposure:</p>
                    <p class="mx-2"><b><%= plant.sunExposure %></b></p>
                </div>
            <% } %>
            <% if (plant.flowerColour) { %>
                <div class="d-flex align-items-center">
                    <p class="mr-3">Flower colour:</p>
                    <p class="mx-2"><b><%= plant.flowerColour %></b></p>
                </div>
            <% } %>
            <% if (plant.userId) { %>
                <div class="d-flex align-items-center">
                    <p class="mr-3">Captured by:</p>
                    <p class="mx-2"><b><%= plant.userId %></b></p>
                </div>
            <% } %>
        </div>

        <div class="col-md-6 mt-sm-5 mt-md-0 mx-sm-2 mx-md-0 pb-sm-5" style="display: flex; flex-direction: column;">
            <div id="chat_interface" style="display: block;">
                <div id="history" class="boxed" style="height: 350px; max-height: 350px; overflow-y: auto;"></div>
                <div id="input" class="button boxed" style="display: flex; align-items: flex-end;">
                    <form onsubmit="return false;" class="w-100 pt-2" style="display: flex; align-items: flex-end;">
                        <label for="name" class="mb-2" style="margin-right: 10px;">Chat:</label>
                        <input class="form-control" type="text" id="chat_input" name="chat_input" style="flex: 1;">
                        <button class="btn btn-secondary mx-2" id="chat_send" onclick="sendChatText()">Send</button>
                    </form>
                </div>
            </div>
        </div>


    </div>




<!--    <div class="col-lg-6 my-4">-->
<!--        <iframe-->
<!--            src="https://www.google.com/maps/embed?q=sheffield&t=&z=13&ie=UTF8&iwloc=&output=embed"-->
<!--            class="w-100" height="400" allowfullscreen="" loading="lazy"></iframe>-->
<!--    </div>-->

</body>
</html>

<script>
    // JavaScript to toggle form visibility
    var suggestionsLength = document.getElementById('suggestionsLength').value;
    var dbPediaSuggestionsLength = document.getElementById('dbPediaSuggestionsLength').value;
    var suggestLink = document.getElementById('suggestLink');

    if (suggestionsLength > 0 || dbPediaSuggestionsLength > 0) { suggestLink.style.display = 'none'; }

    suggestLink?.addEventListener('click', function(event) {
        event.preventDefault();
        var suggestionsContainer = document.getElementById('suggestionsContainer');
        suggestionsContainer.style.display = suggestionsContainer.style.display === 'none' ? 'block' : 'none';
        suggestLink.style.display = 'none';
    });

    const historyElement = document.getElementById('history');

    socket.on('chat', function(msg) {
        scrollToBottom()
    });

    function scrollToBottom() {
        historyElement.scrollTop = historyElement.scrollHeight;
    }

    // Suggestions dropdown
    document.addEventListener('DOMContentLoaded', e => {
        $('#input-datalist').autocomplete()
    }, false);



</script>